{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Status {% endblock %}
{% block body %} 

    <div id="header"  data-width="500">
		<h1>Switcher 2 Control</h1>
		<p>Manuell Schalten</p>
		    <a href="index.html">Home </a> 
		    <a href="status.html">Status </a> 
		    <a href="swlog.html">Log </a> 
		    <a href="wetter.html">Wetter </a> 

	</div>


<div class="container">

                <ul>
                    {% for item in statklein -%}
                    <li>  {{ item }} </li>
                    {% endfor %}
                </ul>     


<form id="my-form" method="post" action="{{ url_for('do_command') }}">


    <fieldset> 
 <label>Zuhause/Nicht Zuhause</label><br />
<span class="radio"><input type="radio" name="zuhause" value="1" />Zuhause Umschalten</span><br />

    </fieldset>
    <fieldset>
 
 <label>Steckdose wählen:</label><br />
    {% include html_file2 %}

</br>
 <label>Aktion für diese Steckdose</label><br />
<span class="radio"><input type="radio" name="select" value="1" />Einschalten</span><br />
<span class="radio"><input type="radio" name="select" value="2" />Ausschalten</span><br />
<span class="radio"><input type="radio" name="select" value="3" />Auf Auto zurücksetzen</span><br />
  
    </fieldset>
    
    <fieldset> 
<label>Reset Manuell Geschaltete Steckdosen </label><br />
<span class="radio"><input type="radio" name="reset_manuell" value="1" />Um Mitternacht</span><br />
<span class="radio"><input type="radio" name="reset_manuell" value="2" />Nie</span><br />
    </fieldset>

<span><input type="reset" class="button" value="Reset" />

<input class="button" name="saveForm" type="submit" value="Ausführen"></span><br />


</form>
  


</div>

{% endblock %}
</html>