{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Status {% endblock %}
{% block body %} 

    <div id="header"  data-width="500">
		<h1>Switcher 2 Control</h1>
		<p>Fehler</p>
		    <a href="index.html">Home </a> 
		    <a href="swlog.html">Log </a> 
			<a href="about.html">About </a> 	
	</div>


<div class="container">


<p></p>			
<p> {% if name %}
  {{ name }}!
{% else %}
  Kein Status erhältlich vom Switcher
{% endif %}	
</p>

<div>
{% endblock %}
</html>