{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Status {% endblock %}
{% block body %} 
   <div id="header"  data-width="400">
		<h1>Switcher 2 Control</h1>
		<p>Resultat Ausführen</p>
			<a href="index.html">Home </a> 
			<a href="status.html">Status </a> 
		    <a href="swlog.html">Log </a> 
	
	</div>
    <div class="container">

    </br>
    </br>
  <p class=red> {{textfeld_1}}</>  
  <p class=red>{{textfeld_2}} </p>
 
      
<form id="my-form" method="post" action="{{ url_for('home') }}">

     <input class="button" name="anzdosen" type="submit" value="Home"></span><br />  
 
</form>
 
  {% if show_reboot == True %}
    
   <p class=red> {{textfeld_3}} </p>
 <form id="my-form" method="post" action="{{ url_for('reboot') }}">

     <input class="button" name="anzdosen" type="submit" value="Reboot Pi"></span><br />  
 
</form>   

    {% endif %}  
   </div>   
{% endblock %}
</html>