{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Status {% endblock %}
{% block body %} 

    <div id="header"  data-width="500">
		<h1>Switcher 2 Control</h1>
		<p>Ausführlicher Status</p>
		    <a href="index.html">Home </a> 
		    <a href="status.html">Status </a> 
		    <a href="swlog.html">Log </a> 
		    <a href="wetter.html">Wetter </a> 

	</div>


<div class="container">


<ul>
    {% for item in name -%}
        <li>  {{ item }} </li>
    {% endfor %}
</ul>     


<form id="my-form" method="post" action="{{ url_for('set_dosen') }}">
  <fieldset> 
    <label>Anzahl Dosen</label><br>
  
        {% include html_file %}
        
      <input class="button" name="doit" type="submit" value="Uebernehmen"></span><br />  
      <p>Achtung: Uebernehmen führt zu Reboot des Switchers </p>
  </fieldset> 
</form>


</div>

{% endblock %}
</html>