{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Logfile {% endblock %}
{% block body %} 
		<div id="wrapper">

    		<div id="header"  data-width="400">
				<h1>Switcher 2 Control</h1>
				<p>Switcher Log</p>
					<a href="index.html">Home </a> 
					<a href="status.html">Status </a> 
					<a href="swlog.html">Log </a> 
		            <a href="wetter.html">Wetter </a> 
				
			</div>
			
<div class="container">
    <h2>Switcher Logfile</h2>
   
<div class="wrapperlog">
    <div class="longcontent">
               {% for item in logzeilen -%}
                   {{ item }}  </br>
                    {% endfor %}
    </div>
</div>

  {% if show_reboot == True %}
    
   <p class=red> {{textfeld_1}} </p>
 <form id="my-form" method="post" action="{{ url_for('reboot') }}">

     <input class="button" name="anzdosen" type="submit" value="Reboot Pi"></span><br />  
 
</form>   

    {% endif %}  

</div>
{% endblock %}
</html>

