{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher2 Wetter {% endblock %}
{% block body %} 

    <div id="header"  data-width="500">
		<h1>Switcher 2 Control</h1>
		<p>Wetterdaten</p>
		    <a href="index.html">Home </a> 
		    <a href="status.html">Status </a> 
		    <a href="swlog.html">Log </a> 
		    <a href="wetter.html">Wetter </a> 

	</div>


<div class="container">


                <ul>
                    {% for item in name -%}
                    <li>  {{ item }} </li>
                    {% endfor %}
                </ul>     

              <ul>
                    {% for item in name2 -%}
                    <li>  {{ item }} </li>
                    {% endfor %}
                </ul>     


</div>

{% endblock %}
</html>